<h1>Editar Perfil</h1>
<div class="user">
  <%= form_for @user, url: profile_path do |f| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :Nombre_de_Usuario %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Biografía %>
      <%= f.text_area :biography, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Red_Social_1 %>
      <%= f.text_field :facebook, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Red_Social_2 %>
      <%= f.text_field :x, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :Red_Social_3 %>
      <%= f.text_field :instagram, class: 'form-control' %>
    </div>

    <%= f.submit 'Guardar cambios', class: 'btn btn-primary' %> |
    <%= link_to "Cancelar",profile_path , class: 'btn btn-secondary' %> 
  <% end %>
</div>