<h1>Editar Perfil</h1>

<%= form_for @user, url: profile_path do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :biography %>
    <%= f.text_area :biography, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :facebook %>
    <%= f.text_field :facebook, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :x %>
    <%= f.text_field :x, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :instagram %>
    <%= f.text_field :instagram, class: 'form-control' %>
  </div>

  <%= f.submit 'Guardar cambios', class: 'btn btn-primary' %>
<% end %>
