<div id="<%= dom_id publication %>">
  <p>
    <strong>Título:</strong>
    <%= publication.name %>
  </p>

  <p>
    Publicado por: <%= publication.user.username %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= publication.description %>
  </p>
  
  <p>
    <strong>Precio:</strong>
    <%= publication.price %>
  </p>

  <p>
    <%= image_tag(publication.picture_url, width: 600) if publication.picture? %>
  </p>


</div>
