<div class="publicacion">
  <div class="texto">
    <p>
      <strong>Título:</strong>
      <%= publication.name %>
    </p>

    <p>
      <strong>Publicado por:</strong> <%= publication.user.username %>
    </p>

    <p>
      <strong>Descripción:</strong>
      <%= publication.description %>
    </p>
    
    <p>
      <strong>Precio:</strong>
      <%= publication.price %>
    </p>
    <p>
      <strong>Calificación Promedio:</strong>
      <div id="average-rating" data-score="<%= @average_rating %>"></div>
    </p>
  </div>

  <div class="imagen">
    <%= image_tag(publication.picture_url, width: 300) if publication.picture? %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#average-rating').raty({
      path: 'https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.1/images',
      readOnly: true,
      score: function() {
        return $(this).data('score');
      }
    });
  });
</script>