<div id="<%= dom_id publication %>">
  <p>
    <strong>Name:</strong>
    <%= publication.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag(publication.picture_url, width: 600) if publication.picture? %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= publication.price %>
  </p>

</div>
