<p style="color: green"><%= notice %></p>

<% content_for :title, "Publications" %>

<h1>Servicios</h1>

<div id="publications">
  <div id="service">
    <% @publications.each do |publication| %>
      <p><strong>Autor:</strong> <%= publication.user.username %></p>
      <p><strong>Título:</strong> <%= publication.name %></p>
      <p><strong>Precio:</strong> <%= publication.price %></p>
      <%= image_tag(publication.picture_url, width: 600) if publication.picture? %>
      <p>
        <%= link_to "Ver", publication, class:"btn btn-secondary" %>
      </p>
    <% end %>
  </div>
</div>

 <%# <%= link_to "New publication", new_publication_path %> 
