<div class="solicitud">
  <div class="texto">
    <p>
      <strong>Status:</strong>
      <%= postulation.status %>
    </p>
    <p>
      <strong>Asunto:</strong>
      <%= postulation.title %>
    </p>

    <p>
      <strong>Contenido:</strong>
      <%= postulation.content %>
    </p>

    <p>
      <strong>Portafolio:</strong>
      <%= postulation.portfolio %>
    </p>

    <p>
      <strong>Usuario:</strong>
      <%= postulation.username %>
    </p>
  </div>
</div>
