<%= form_with(model: request) do |form| %>
  <% if request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(request.errors.count, "error") %> impiden que la solicitud sea creada:</h2>

      <ul>
        <% request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div>
    <%= form.hidden_field :sender_id %>
    <%= form.hidden_field :receiver_id %>
    <%= form.hidden_field :publication_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description, class: "form-control" %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact, class: "form-control" %>
  </div>

  <div>
    <%= form.label :picture, style: "display: block" %>
    <%= form.file_field :picture, class: "form-control-file" %>
  </div>

  <div>
     <%= form.submit "Aceptar", class:"btn btn-success" %>
  </div>
</div>
<% end %>