<div id="<%= dom_id request %>">
  <p>
    <strong>Status:</strong>
    <%= request.status %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= request.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= request.description %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= request.contact %>
  </p>

  <p>
    <strong>Picture:</strong>
     <%= image_tag(request.picture_url, width: 200) if request.picture? %>
  </p>

</div>
