<% content_for :title, "Editing request" %>

<h1>Aceptar, rechazar o finalizar</h1>

<%# <%= render "form", request: @request %> 
<div>
<%= render @request %>
</div>
<%= form_with(model: @request) do |form| %>
  <div class="buttons-container">
    <strong>STATUS</strong>
    <%= form.select :status, ["Aceptado","Rechazado","Finalizado"], { class: 'form-control' } %>
    <br>
     <%= form.submit "Guardar", class:"btn btn-success" %>
  </div>
<%end%>

<br>

<div class="buttons-container">
  <%= link_to "Regresar a Solicitudes", requests_path, class:"btn btn-secondary"%>
</div>
