<h2>Iniciar sesion como cliente</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password, autocomplete: "contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>

  <div class="text-center mt-3">
  <p>¿Eres un artista? <%= link_to "Iniciar sesión como Artista", new_artist_session_path, class: "btn btn-secondary" %></p>
</div>

<% end %>

<%= render "devise/shared/links" %>
